.card img{
    height: 18rem;
    }
.card{
    text-align: center;
}
.card h5{
    font-size: 17px;
}
#card1, #card2, #card3, #card4, #card5{
    padding-bottom: 20px;
}

@media screen and (max-width: 900px){
    #card4, #card5{
        grid-column: auto;
    }
}