body, .jumbotron{
    background-color: #f5f0f1;

}
/*header{
    position: absolute;
    top: 0;
}*/
.italics{
    font-style: italic;
    font-family: 'Dancing Script', cursive;
}
.slogan{
    font-family: 'Dancing Script', cursive;
    font-size: 16pt;
}
.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 52pt;
}
.display-4{
    font-size: 38pt;
}
.icon{
    width: 18pt;
}
header img{
    width: 19%;
}
.icon{
    margin-bottom: 7px;
    padding: auto;
}
 footer{
    position: relative;
    bottom: 0;
}  
/* @media screen and (max-width: 300px) {
    footer{
      position: absolute;
    }
  } */