form {
   border: 3px solid #f1f1f1;
 }
  
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #f1f1f1;
  }
  
  button.submit {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .container {
    padding: 16px;
  }
.signup p{
  float: left;
}
  span.psw {
    float: right;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }
  @media screen and (min-width: 1280px) {
    form{
      margin: 0 auto;
      width: 50%;
    }
    footer{
      position: absolute;
      bottom: 0;
    }
  }
  @media screen and (min-width: 300px) {
    footer{
      position: absolute;
    }
  }