*{
  box-sizing: border-box;
}
.signin{
  padding-top: 25px;
}

@media screen and (min-width: 1280px) {
  main{
    margin: 0 auto;
    width: 50%;
  }
}
@media screen and (min-width: 300px) {
  footer{
    position: absolute;
  }
}
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}
.btn-success:hover{
  opacity: 0.8;
}
