body{
    background-color: #f5f0f1;

}
/*header{
    position: absolute;
    top: 0;
}*/
.italics{
    font-style: italic;
}
.slogan{
    font-family: 'Dancing Script', cursive;
    font-size: 16pt;
}
